body
{
    color: White;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow:  hidden;
}

#menu
{
    background-color: Highlight;
    float: right;
    width: 7%;
    /*min-width: 64px;*/
    height: 100%;
}
#content
{
    background-color: Gray;
    height: 93%;
}
#footer
{
    background-color: Black;
    position: absolute; 
    bottom: 0;
    width: 100%;
    height: 7%;
    min-height: 32px;
    /*visibility: hidden;*/
}


#header 
{
    background-color: Black;
    height: 7%;
    min-height: 64;

}

input
{
    width: 70%; 
    font-size: 32px;
    background-color: Gray;
    
    font-family:arial, sans-serif; 
    border:solid 1px #d9d9d9; 
    border-top:solid 1px #c0c0c0; 
    cursor: text;
}
